//variables
$color-primary: #ECB800;
$color-secondary: #EEEEEE;
$color-black: #000;

//base styles
* {
    box-sizing: border-box;    
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    margin: 0;    
}

#headerContent,
#portfolio,
#aboutContent,
#bigMessage,
.contactContent
 {
    max-width: 95%;
    margin: auto;
}


//Contact overlay
.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 1;
    place-items: center;
    display: grid;
    transform: translateY(-100vh); 
    opacity: 0;  
    transition: transform .2s ease-in, opacity .2s ease-in;     
}

.showOverlay {       
    transform: translateY(0);
    opacity: 1;
}


#contactOptions {
    width: 250px;    
    border: $color-secondary solid 6px;
    border-radius: 5px;
    background-color: $color-primary;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

#contactOptions div {
    padding: 15px;
}

#contactOptions h1 {
    color: $color-black;
    font-family: 'Cutive Mono', monospace;
    display: inline;
}

#contactOptions div,
#contactOptions h1 {
    transition: filter .2s ease-in;
}

.contactIcons img {
    height: 35px;
    width: 35px;
    display: inline;
}


//HEADER
header {
    position: relative;
    background-color: $color-black;
    height: 100vh;    
    border-bottom: $color-primary solid 25px;
    background-image: url("../../images/background-lg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Header Content
#headerContent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100%;    
}

#headerText {
    margin: auto 0;
    grid-row: 2/3;
    font-weight: 500;
    font-size: 2.4em;
    position: relative;
    cursor: pointer;    
}

#charlie {
    position: relative;
}

#charlie::before {
    content: 'C';
    position: absolute;
    left: -5px;
    color: $color-primary;
}

//title images
.titleImage {
    position: absolute;
}

.titleImage img {
    height: auto;
    width: 65%;
}

#openBody {
    top: -160px;
}

#openH1{
    top: -50px;
    left: 10px;
}

#closeH1{
    top: 120px;
    left: 260px;
}

#closeBody {
    top: 220px;
    overflow-y: hidden;
    transition: opacity .2s ease-in;
}

//Text Nav

.textNav {
    display: none;
    position: absolute;
    top: 5%;
    left: 55%;        
}

.textNav h3 {
    margin-left: 30px;
    transition: color .2s ease-in, transform .2s ease-in;
    cursor: pointer;
}


//Contact button
#contactButton {
    grid-row: 3/4;
    margin: 0 auto;    
}

#contactButton h3 {  
    cursor: pointer;  
    color: $color-primary; 
    font-size: 1.4em;
    border: $color-primary 4px solid;
    padding: 10px;
    transition: background-color .4s ease-in, color .4s ease-in;
    margin-bottom: 20px;
}

//hamburger icon

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer; 
    transition: all .5s ease-in-out;
    justify-self: flex-end;
    margin-top: 20px;
}

.menu-btn_burger,
.menu-btn_burger::before,
.menu-btn_burger::after {
    width: 30px;
    height: 6px;
    background: $color-primary;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;    
}

.menu-btn_burger::before {
    transform: translateY(14px);
}

.menu-btn_burger::after {
    transform: translateY(-14px);
}

//navicons

.navIcons {
    position: absolute;
    top: 80%;
    left: 30%;    
    opacity: 0; 
    transform: translateY(-400px);   
}

.showOptions {
    transition: opacity .4s ease-in, transform .4s ease-in;
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.navOption {
    margin-top: 18px;
    transition: .2s ease-in;
}

.navOption a img {
    width: 65%;
    height: auto;
}

//MAIN

main {
    background-color: $color-black;
}

//portfolio
.sectionHeader {
    font-size: 2.5em;    
}

#portfolio {
    padding: 50px 0;
}

.projectCard a h3 {
    transition: color .2s ease-in;
}

.projectCard {
    padding-top: 30px;
}

.projectImage {
    width: 100%;
    height: 150px;
    border: solid 6px $color-primary;
    margin-top: 30px;
    transition: all .2s ease-in;    
}

//ABOUT

#about {
    background-color: $color-primary;
    padding: 40px 0;
}

.aboutLines {
    height: 15px;
    background-color: $color-black;
}

#longLine {
    width: 80%;
}

#shortLine {
    width: 60%;
    margin-top: 30px;
}

#aboutContent h2 {
    text-align: right;
    color: $color-black;
    padding-top: 20px;
}

#aboutContent p {
    max-width: 90%;
    text-align: center;
    color: $color-black;
    margin: 50px auto 0;
    padding-bottom: 50px;
}

//big message

#bigMessage {   
    padding: 40px 0 80px;
}

#bigMessage h1 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 0;    
}

#letsTalk {
    color: $color-primary;       
    transition: color .5s ease-out; 
    position: relative;   
    display: inline-block;         
}

//3d animation

#letsTalk:hover {    
    color: $color-secondary;    
}

#letsTalk:before{
    content: 'Hablemos.';
    position: absolute;
    top: 0px;
    left: 0px;
    transition: transform .5s ease-in, color .5s ease-in;    
}

#letsTalk:hover:before {
    color: $color-primary;      
    transform: translate(3px,-3px);    
}


#underline {
    width: 230px;
    height: 15px;    
    margin-top: 0;
}

.underlineAnimation {
    width: 0%;
    height: 100%;
    background-color: $color-primary;
    transition: width .6s ease-in;
}

.showUnderlineAnimation {
    width: 100%;
}

//CONTACT
#contact {
    background-color: $color-primary;  
}

.contactContent {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contactContent h2 {
    color: $color-black;
    padding-bottom: 40px;
}

.contactContent p {
    font-size: 1em;
    color: $color-black;    
}

.contactContent p a {
    transition: color .2s ease-in;
}

//HOVER 
//contact button
#contactButton h3:hover {
    color: $color-black;
    background-color: $color-primary;    
}
//contact
.contactContent p a:hover {
    color: $color-secondary;
}
//text nav
.textNav h3:hover {
    color: $color-primary;
    transform: scale(1.1);
}

//overlay
#contactOptions h1:hover,
#contactOptions div:hover {
    filter: invert(50%);
}

//portfolio
.projectImage:hover {    
    border: solid 6px $color-secondary;
    box-shadow: 0 15px 20px -12px rgba(255, 255, 255, 0.2);
}

.projectCard a h3:hover {
    color: $color-secondary;    
}

//ANIMATIONS
//hamburger icon
.menu-btn.openMenu .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.openMenu .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.openMenu .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

//bouncing letters
.bounce {
    transition: transform ease-in-out .2s;
    display: inline-block;
    animation: bounce .7s ease-in-out;
    color: #ecb800;    
}

.bounceCharlie {
    transition: transform ease-in-out .2s;
    display: inline-block;
    animation: bounce .7s ease-in-out;
    color: $color-secondary;
}


@keyframes bounce {
    15%{
        transform: scale(1.1,.8);
    }
    30% {
        transform: scale(1.3,.6);
    }
    45% {
        transform: scale(.9,1.15);
        transform: translateY(2px);
    }
    60% {
        transform: scale(.7,1.3);
    }
    75% {
        transform: scale(1,1.1);
        transform: translateY(-.5px);
    }
    90% {
        transform: scale(1.1,.9);
    }
    100% {
        transform: scale(1,1);
        transform: translateY(0);
    }
}

//scroll animation 
.leftProject {
    transform: translateX(-100vw);
    opacity: 0;
    transition: .5s all ease-in;
}

.showLeft {
    transform: translateX(0);
    opacity: 1;
}

.rightProject {
    transform: translateX(100vw);
    opacity: 0;
    transition: .5s all ease-in;
}

.showRight {
    transform: translateX(0);
    opacity: 1;
}